<cta-button>
  {% form 'product'
    , product %}
    <input
      type="hidden"
      name="id"
      value="{{ product.selected_or_first_available_variant.id }}">
    <input
      type="hidden"
      name="quantity"
      value="1">
    <button type="submit" class="button">Add to Cart</button>
  {% endform %}
</cta-button>