<section class="main-hello">
  <h1 class="main-hello__title">Hello World 👋</h1>
  <p class="main-hello__subtitle">Your Shopify theme is running.</p>
</section>

{% schema %}
  {
    "name": "Main Hello"
  }
{% endschema %}